<h3>Users</h3>
<table>
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Username
      </th>
      <th>
        Interests
      </th>
      <th>
        Email
      </th>
      <th />
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name %> <%= user.last_name %></td>
      <td><%= user.username %></td>
      <td><%= link_to "view", user_path(user) %></td>
      <td><%= user.email %></td>
      <td><%= link_to 'edit', edit_user_path(user) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'All interests', root_path %>
&nbsp;|&nbsp;
<%= link_to 'New user', new_user_path %>
&nbsp;|&nbsp;
<%= link_to 'Full artist list', slugs_path %>
